In [22]:
from bs4 import BeautifulSoup

In [2]:
from urllib.request import urlopen as uReq

In [82]:
url='https://www.flipkart.com/search?q=samsung+mobiles&amp;sid=tyy%2C4io&amp;as=on&amp;as-show=on&amp;otracker=AS_QueryStore_HistoryAutoSuggest_0_2&amp;otracker1=AS_QueryStore_HistoryAutoSuggest_0_2&amp;as-pos=0&amp;as-type=HISTORY&amp;as-searchtext=sa'
uclnt=uReq(url)
page=uclnt.read()
uclnt.close()
pages= BeautifulSoup(page,"html.parser")

In [ ]:
print(pages.prettify())

In [138]:
n=pages.find_all('div',{'class':'_2kHMtA'})

In [172]:
print(len(n))

24

In [ ]:
print(BeautifulSoup.prettify(n[0]))

In [144]:
pages.find_all('div',{'class':'_2LR_KO'})[0].get_text()

'Galaxy F22 from ₹11,999*'

In [146]:
n[1].img['alt']

'SAMSUNG Guru 1200'

In [90]:
prices=pages.find_all('div',{'class':'col col-5-12 nlI3QM'})

In [149]:
prices[0].find_all('div',{'class':'_30jeq3 _1_WHN1'})[0].get_text()

'₹14,499'

In [ ]:

print(prices[5].prettify())

In [98]:
ratings=pages.find_all('div',{'class':'gUuXy-'})

In [ ]:
print(ratings[0].prettify())

In [111]:
print((ratings[0].find('span',{'class':'_2_R_DZ'}).get_text()))

3,34,388 Ratings & 36,930 Reviews

In [112]:
filename='products.csv'
f=open(filename,'w')
headers='product_name,pricing,ratings\n'
f.write(headers)

29

In [198]:
f

In [200]:
import pandas as pd

In [205]:
l_l=[]
for i in range(0,len(n)):
    l_p=[]
    p_name=n[i].img['alt']
    p_price=n[i].find_all('div',{'class':'col col-5-12 nlI3QM'})
    p=p_price[0].find_all('div',{'class':'_30jeq3 _1_WHN1'})[0].get_text()
    rate=n[i].find_all('div',{'class':'gUuXy-'})
    r=rate[0].find('span',{'class':'_2_R_DZ'}).get_text()
    l_p.append(p_name)
    l_p.append(p)
    l_p.append(r)
    l_l.append(l_p)
df=pd.DataFrame(l_l,columns=['prod_name','price','ratings&reviews'])

In [206]:
df.head()

                                   prod_name  ...                    ratings&reviews
0   SAMSUNG Galaxy F41 (Fusion Blue, 128 GB)  ...  3,34,388 Ratings & 36,930 Reviews
1                          SAMSUNG Guru 1200  ...  1,65,711 Ratings & 14,560 Reviews
2      SAMSUNG Galaxy F12 (Sea Green, 64 GB)  ...     74,860 Ratings & 6,088 Reviews
3  SAMSUNG Galaxy F41 (Fusion Green, 128 GB)  ...  3,34,388 Ratings & 36,930 Reviews
4  SAMSUNG Galaxy F41 (Fusion Black, 128 GB)  ...  3,34,388 Ratings & 36,930 Reviews

[5 rows x 3 columns]